package {{.PackageName}}

import (
  "testing"
  "math/rand/v2"
  "time"

  ent_gen "{{.GenPkgPath}}"
  "github.com/samber/lo"
)

func Create{{.TableName}}(t *testing.T, db *ent_gen.Client, ovrTbl ent_gen.{{.TableName}}) *ent_gen.{{.TableName}} {
  t.Helper()

  tbl := &ent_gen.{{.TableName}} { {{ range $i, $f := .Fields }}
      {{ if not $f.Ignore }} {{ $f.Name }}: {{ $f.DefaultValue }}, {{ end }} {{ end }}
  }

  createdTbl, err := db.{{.TableName}}.Create(). {{ range $i, $f := .Fields }}
    {{ if not $f.HasDefaultOnCreate }} Set{{ $f.Name }}({{ if $f.Nillable }}*{{ end }}tbl.{{ $f.Name }}).{{ end }} {{ end }}
    Save(context.Background())
  if err != nil {
    t.Fatal(err)
  }

  return createdTbl
}
